# Library dependencies for the python code.  You need to install these with
# `pip install -r requirements.txt` before you can run this.
numpy==1.17.4
scipy==1.10.0
sparse==0.8.0
scikit-learn==0.20.2
-e git+https://github.com/tensorly/tensorly#egg=tensorly